#challenges{
    background-color: rgba(0, 0, 0, 0.1);
    >main{
        display: flex;
        >section{
            flex: 1;
            padding: 20px;
            >div{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 #search{
                    display: none;
                 }
                 >nav{
                  display: flex;
                  flex-direction: column;
                  cursor: pointer;
                  &:hover >div{
                    display: flex;
                  }
                 >aside{
                    display: flex;
                    align-items: center;
                        >img{
                            width: 30px;
                            border-radius: 30px;
                            margin-right: 5px;
                        }
                        >p{
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            >i{
                                margin-left: 3px;
                            }
                        }
                        }
                        >div{
                    background-color: #fff;
                    position: absolute;
                    width: 200px;
                    right: 0;
                    margin-top: 30px;
                    margin-right: 20px;
                    padding: 10px 0px 10px 20px;
                    min-height: 100px;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 5px;
                    >a{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px 2px;
                        color: #000;
                        i{
                            margin-right: 10px;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                    >a{
                        text-decoration: none;
                    }
                    >a p{
                        color: red;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px 2px;
                        >i{
                            margin-right: 10px;
                        }
                          &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                  }
                }
            }
             >p{
                padding-top: 25px;
                color: #134544;
                >i{
                    margin-right: 5px;
                }
            }
            >h4{
                margin-top: 30px;
                background-color: #fff;
                width: 100%;
                padding: 30px;
                font-size: 1.3rem;
                color: #162168;
            }

            >nav{
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                >span{
                    display: block;
                    background-color: #134544;
                    width: 45px;
                    height: 10px;
                    border-radius: 20px;
                }
                >p{
                    font-size: 1.1rem;
                }
            }
            >li{
                list-style-type: none;
                content: #162168;
                margin-left: 55px;
                margin-top: 3px;
                font-size: 14px;
            }
            >.container{
                width: 100%;
                background-color:rgba(101, 164, 231, 0.1);
                margin-top: 30px;
                min-height: 70vh;
                display: flex;
                align-items: flex-start;
                border: 1px solid white;
                flex-direction: column;
                justify-content: flex-start;
                >section{
                    display: flex;
                    flex-wrap: wrap;
                    height: 15vh;
                    background-color: #fff;
                    width: 100%;
                    padding: 30px;
                    justify-content: space-between;
                    align-items: center;
                    gap: 0.5rem;
                    >p{
                        font-weight: bold;
                        color: #134544;
                        font-size: 14px;
                        cursor: pointer;
                        padding:5px 10px;
                        &:hover{
                             background-color: rgb(174, 138, 224);
                             border-radius: 4px;
                        }
                    }
                }
                >p{
                  padding: 30px;
                  color: #162168;
                }
            }
        }
    }
        >footer{
                color: #007bff;
                font-size: 13px;
                margin-top: 50px;
                border-top: 1px solid rgb(205, 199, 199);
                >p{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                    >span{
                        padding-right: 5px;
                        font-size: 1rem;
                    }
                }
            }
}


@media (max-width: 700px) {
    #challenges{
        background-color: #fff;
       >main{
         >section{
            padding: 0;
           >div{
            background-color: #134544;
            height: 10vh;
            padding: 30px;
             >section{
             display: flex;
             justify-content: space-between;
             align-items: center;
             gap: 2rem;
              >i {
              color: #fff;
              font-size: 1.1rem;
              cursor: pointer;
                    }
                >#search{
                    display: block;
                }    
                 }
            >nav{
                >aside{
                    >p{
                        >span{
                            display: none;
                        }
                        >i{
                            color: #fff;
                        }
                    }
                }
            }
           } 
           >h4{
            margin-top: 0;
            padding: 20px;
            border-bottom: 0.5px solid #bfc2d8;
            background-color: #e5e7eb;
           }
           >nav{
             padding-left: 20px;
             padding-bottom: 10px;
            >span{
                width: 30px;
                height: 7px;
                >p{
                    color: #3B3D55;
                }
            }
           }
           >li{
            margin-bottom: 20px;
            color: #162168;
            padding-left: 5px;
           } 
           >aside{
            flex-direction: column;
            margin-top: 0;
            padding:0 20px;
            >div{
                width: 100%;
                margin-bottom: 20px;
                flex-direction: column;
                border: 0.5px solid #bfc2d8;
                >nav{
                    width: 100%;
                }
                >div{
                    padding: 30px;
                  >p{
                    font-size: 14px;
                  } 
                   >a{
                    font-size: 14px;
                   }
                }
            }
           } 
           #p{
            display: none;
           }
           .container{ 
            background-color: #fff;
            min-height: 100vh;
            margin: 15px;
            width: 95%;
            > section{
            height: 50vh;
            border: 1px solid #bfc2d8;
            background-color: rgba(101, 164, 231, 0.1);
            padding: 55px;
           }
           >p{
             background-color: rgba(0, 0, 0, 0.1);
             min-height: 55vh;
           }
           }
        }
       }
       >footer{
       >p{
        text-align: start;
        padding-left: 20px;
        } 
     }
    }
}


/* Desktop - navbar wrapper does nothing, just passes through */
.navbar-wrapper {
    display: contents; 
}

.navbar-overlay {
    display: none;
}

/* Mobile Navbar Wrapper Styles */
@media (max-width: 700px) {
    .navbar-wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background-color: white;
        transition: left 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
    }

    .navbar-wrapper.navbar-open {
        left: 0;
    }

    .navbar-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
}