
#Dashboard{
    background-color: rgba(0, 0, 0, 0.1);
    >main{
        display: flex;
        >section{
            flex: 1;
            padding: 20px;
            >div{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 >nav{
                  display: flex;
                  flex-direction: column;
                  cursor: pointer;
                  &:hover >div{
                    display: flex;
                  }
                 >aside{
                    display: flex;
                    align-items: center;
                        >img{
                            width: 30px;
                            border-radius: 30px;
                            margin-right: 5px;
                        }
                        >p{
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            >i{
                                margin-left: 3px;
                            }
                        }
                        }
                        >div{
                    background-color: #fff;
                    position: absolute;
                    width: 200px;
                    right: 0;
                    margin-top: 30px;
                    margin-right: 20px;
                    padding: 10px 0px 10px 20px;
                    min-height: 100px;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 5px;
                    >h4{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px 2px;
                        i{
                            margin-right: 10px;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                    >a{
                        text-decoration: none;
                    }
                    >a p{
                        color: red;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px 2px;
                        >i{
                            margin-right: 10px;
                        }
                          &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                  }
                }
            }
            >h4{
                margin-top: 30px;
                background-color: #fff;
                width: 100%;
                padding: 30px;
                font-size: 1.3rem;
                color: #162168;
            }

            >nav{
                margin-top: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                >span{
                    display: block;
                    background-color: #134544;
                    width: 45px;
                    height: 10px;
                    border-radius: 20px;
                }
                >p{
                    font-size: 1.1rem;
                }
            }
            >li{
                list-style-type: none;
                content: #162168;
                margin-left: 55px;
                margin-top: 3px;
                font-size: 14px;
            }
            >aside{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 30px;
                flex-wrap: wrap;
                >div{
                    width: 48%;
                    min-height: 40vh;
                    display: flex;
                    background-color: #ffff;
                    flex-wrap: wrap;
                   nav{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: 40%;
                    background-color: #134544;
                    min-height: 40vh;
                    >i{
                        font-size: 4rem;
                    }
                   }
                   >div{
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 20px;
                    >h4{
                        font-size: 1.2rem;
                        margin-bottom: 8px;
                        color: #162168;
                    } 
                    >p{
                        font-size: 15px;
                        color: #162168;
                        line-height: 25px;
                        font-weight: 200;
                    }
                    >a{
                        margin-top: 20px;
                        text-decoration: none;
                        color: #007bff;
                        display: flex;
                        align-items: center;
                        >i{
                            margin-left: 10px;
                            font-size: 12px;
                        }
                    }
                   }
                }
            }
        }
    }
       >footer{
                color: #007bff;
                font-size: 13px;
                margin-top: 50px;
                border-top: 1px solid rgb(205, 199, 199);
                >p{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                    >span{
                        padding-right: 5px;
                        font-size: 1rem;
                    }
                }
            }
}

@media (max-width: 700px) {
    #Dashboard{
       >main{
         >section{
            padding: 0;
           >div{
            background-color: #134544;
            height: 10vh;
            padding: 20px;
            >i{
                color: #fff;
            }
            >nav{
                >aside{
                    >p{
                        >span{
                            display: none;
                        }
                        >i{
                            color: #fff;
                        }
                    }
                }
            }
           } 
           >h4{
            margin-top: 0;
            padding: 20px;
            border-bottom: 0.5px solid #bfc2d8;
           }
           >nav{
             padding: 20px;
            >span{
                width: 30px;
                height: 7px;
                >p{
                    color: #3B3D55;
                    font-size: 14px;
                    font-weight: 800;
                }
            }
           }
           >li{
            margin-bottom: 20px;
            color: #162168;
            padding-left: 5px;
           } 
           >aside{
            flex-direction: column;
            margin-top: 0;
            padding:0 20px;
            >div{
                width: 100%;
                margin-bottom: 20px;
                flex-direction: column;
                border: 0.5px solid #bfc2d8;
                >nav{
                    width: 100%;
                }
                >div{
                    padding: 30px;
                  >p{
                    font-size: 14px;
                  } 
                   >a{
                    font-size: 14px;
                   }
                }
            }
           } 
        }
       }
       >footer{
        /* margin-top: 10px; */
       >p{
        text-align: start;
        padding-left: 20px;
       } 
    }
    }
}
