#Quiz{
    background-color: rgba(0, 0, 0, 0.1);
    >main{
        display: flex;
        >section{
            flex: 1;
            padding: 20px;
            >div{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 >nav{
                  display: flex;
                  flex-direction: column;
                  cursor: pointer;
                  &:hover >div{
                    display: flex;
                  }
                 >aside{
                    display: flex;
                    align-items: center;
                        >img{
                            width: 30px;
                            border-radius: 30px;
                            margin-right: 5px;
                        }
                        >p{
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            >i{
                                margin-left: 3px;
                            }
                        }
                        }
                        >div{
                    background-color: #fff;
                    position: absolute;
                    width: 200px;
                    right: 0;
                    margin-top: 30px;
                    margin-right: 20px;
                    padding: 10px 0px 10px 20px;
                    min-height: 100px;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 5px;
                    >h4{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px 2px;
                        i{
                            margin-right: 10px;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                    >a{
                        text-decoration: none;
                    }
                    >a p{
                        color: red;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 10px 2px;
                        >i{
                            margin-right: 10px;
                        }
                          &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                  }
                }
            }
            >#last-two{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 50px ;
                >h1{
                    font-size: 10rem;
                    color: #162168;
                }
                >p{
                    padding: 15px 0;
                    font-size: 1rem;
                }
                a{
                    text-decoration: none;
                    color: #717cf4;
                    padding-top: 10px;
                    &:hover{
                        text-decoration:underline ;
                    }
                }
            }
        }
    }
    >footer{
                color: #007bff;
                font-size: 13px;
                margin-top: 50px;
                border-top: 1px solid rgb(205, 199, 199);
                >p{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                    >span{
                        padding-right: 5px;
                        font-size: 1rem;
                    }
                }
            }
}

